.Home_btn_heading{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    
}
.Icon_in_menuBar{
    font-size: 20px;
    
}
.div_menuuu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.div_menuuu:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.596);
}
.Content_menuBar_divvv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 0;
    padding: 20px;
}
