.Price_Income_heading{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    color: white;
    
}
.Income_heading_section{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    position: relative;
    bottom: 10px;
    color: black
    
}
.Price_Income_heading{
    color: green;
}
.Carddd_income{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    border:1px solid rgba(0, 0, 0, 0.329);
    flex-direction: column;
    line-height: 0px;
    padding: 20px;
    background-color: white;
    color: black;
}

.Expanses_amount{
    color: red;
}
.Todayexpanse_heading{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.715);
    position: relative;
   
}
.calenderIMage_section{
    width: 20px;
    height: 20px;
}
.calender_imagediv{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    position: relative;
    bottom: 30px;
    transition: transform 0.5s;


}
.calender_imagediv:hover{
    cursor: pointer;
    transform: scale(1.02);
}