.Logo_for_upcomingPayment {
    width: 50px;
    height: 50px;
}

.Title_of_thePayment {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.Price_of_theUPcomponent {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: red;
}

.date_of_up_component {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.847);
}

.Heading_payment_Price {
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.Card_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.208);
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    margin-top: 15px;
    
}

.Options_div_Upcom {
    position: relative;
    left: 70px;
    bottom: 32px;
}

.options_upcominngpayment_logo {
    font-size: 20px;
    cursor: pointer;
}
.btn_add_upcoming{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 15px;
    color: white;
    width: 70px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 119, 237);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 3px;
    transition: transform 0.2s;
}
.btn_add_upcoming:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.add_plus_icon_logo{
    font-size: 15px;
}
.add_upcoming_btn_upcomingcomp{
    position: relative;
    left: 93%;
    bottom: 140px;
    cursor: pointer;
    
}
