.label{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.774);
}
.input_add{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    outline: none;
    border-radius: 5px;
}
.data_inputlabel{
    width: 300px;
    height: 45px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.205);

}
.input_add{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
}

.addbtnlogo_image{
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    margin-bottom: 15px;
}
.SaveBtn_add_btn{
    width: 150px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    color: white;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.3s;
}
.SaveBtn_add_btn:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.whole_add_btnCOmponentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 20px;
    position: absolute;
    left: 35%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.237);
}