.heading___{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 25px;
   
}
.Category_divvev{
    width: 100%;
}

.whole_dropdown__{
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 0;
    width: 150px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.365);
}
.Category_divvev:hover{
    background-color: black;
    color: white;
}

