.Category_headinggg{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
}
.whole_Category_divv{
    width: 300px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.expanse_content_imageSection{
    width: 30px;
    height: 30px;
}
.expanse_content_heading{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}
.whole_category_dropDownContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 300px;
    border-bottom:1px solid rgba(0, 0, 0, 0.24);
    justify-content: center;
    transition: transform 0.5s ease;
    
}
.whole_category_dropDownContent:hover{
    cursor: pointer;
    transform: scale(1.03);

}
.expanse_content{
    border: none;
}
.Contentincomeandexpanse{
    margin-top: 4px;
    width: 300px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.256);
    position: absolute;
    z-index: 11;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}