.FirstComponents_divv{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Btn_for_add{
    border:  none;
    border: 5px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgba(0, 119, 237, 1);
    display:  flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}
.Btn_for_add:hover{
    transform: scale(1.03);
}

.btn_add_home{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}
.Logo_for_add_btn{
    font-size: 20px;
}

.Btn_div{
    position: absolute;
    top: 22%;
    right: 26.5%;
}
.upcoming_payment_details_div{
    width: 70%;
    border:  1px solid rgba(0, 0, 0, 0.187);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}