.Left_MenuBar_section_IN_home{
    height: 650px;
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);

}
.MenuBar_othercompContDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
    position: relative;
    bottom: 10px;  
}

.Dashboard_APp_section{
    width: 75%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.395);
    position: relative;
    bottom: 265px;
    border-radius: 10px;
    margin-top: 10px;
}
.Right_section_pages{
    position: relative;
    top: 16px;
}
.newbtnsection{
    border: 1px solid rgba(0, 0, 0, 0.379);
    width: 100%;
    border-radius:10px;
    position: relative;
    bottom: 10px;
    padding-bottom: 30px;
}
.component_of_theaddbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
