.NAmeSite{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
}
.Icon_logo_bellIcon{
    font-size: 29px;
}
.WHole_header_div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 82%;
    position: relative;
    left: 20px;
    margin: 5px;    
    
}